<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cargar Datos</h1>
    <ul>
        <li>
            <a href="/database/add/equipo">Equipo</a>
        </li>
        <li>
            <a href="/database/add/usuario">Usuario</a>
        </li>
        <li>
            <a href="/database/add/torneo">Torneo</a>
        </li>
    </ul>
</body>
</html>